---
import Layout from '../layouts/Layout.astro';
import CourseCategorySelect from '../components/sections/CourseCategorySelect.astro';
import graphicImg from '../assets/images/person_sit_type_laptop_table.jpg';
import Container from '../components/common/Container.astro';
import { SCHOOL_NAME } from '../utils/navigation';
---

<Layout title={SCHOOL_NAME}>
  <section class="bg-primary pt-16">
    <Container class="grid grid-cols-5 gap-4 py-10">
      <div
        class="col-span-5 min-h-[300px] w-full bg-cover bg-left-bottom lg:col-span-2 lg:h-full"
        style=`background-image: url(${graphicImg.src});`
      >
      </div>
      <div class="col-span-5 flex flex-col gap-5 lg:col-span-3">
        <div class="bg-accent p-3 text-5xl font-bold text-primary">
          Online Courses and Qualifications
        </div>
        <p class="m-0 px-3 text-lg text-gray-400">
          Our school offers a diverse range of online courses designed to
          provide students with flexible and high-quality learning experiences.
          Whether you're looking to enhance your skills, explore new subjects,
          or advance your career, our courses cater to various interests and
          academic levels.
        </p>
      </div>
    </Container>
  </section>
  <CourseCategorySelect />
</Layout>
