---
const { type, placeholder, class: className } = Astro.props;
---

<label class={`input input-bordered flex items-center gap-2 ${className}`}>
  <input type={type} class="grow" placeholder={placeholder} />
</label>
