---
import BarsIcon from '../assets/icon/bars.svg';
import Navigation from './Navigation.astro';
---

<div class="drawer drawer-end z-50 ml-2 lg:invisible lg:ml-0 lg:w-0">
  <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <!-- Page content here -->
    <label for="my-drawer-4" class="btn btn-primary drawer-button text-lg">
      <BarsIcon class="h-5 w-5" />
    </label>
  </div>
  <div class="drawer-side">
    <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay">
    </label>
    <div class="menu min-h-full min-w-96 bg-base-100 p-4 text-base-content">
      <Navigation isMobile />
    </div>
  </div>
</div>
